<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    .c20210725153958 {
    }

    .c20210725153958 .mm-ace-checkbox-group.horizontal .mm-ace-checkbox-group-item {
        min-width: 9em;
    }
</style>
<script type="text/javascript">
    /**
     * 当前页面操作对象
     */
    var h20210725153958 = {
        /**
         * 在当前页面搜索
         */
        query: function (selector) {
            return $("#m20210725153958 " + selector);
        },
        /**
         * 绑定基础数据
         */
        loadBaseData: function () {
            $.own_post({
                url: "/pf/PlatformUser/loadBaseData",
                postType: "2",
                async: false,
                call: function (res) {
                    if (res.code == "1") {
                        h20210725153958.baseData = res.result;
                    } else {
                        $.own_error(res.msg);
                    }
                }
            });
        },
        /**
         * 保存数据
         */
        save: function () {
            var data = h20210725153958.query(".own-form-content").own_ace_form_data();
            $.own_confirm("确定保存?", function () {
                $.own_loading();
                $.own_post({
                    url: "/pf/PlatformUser/saveUser",
                    data: data,
                    call: function (res) {
                        $.own_loading_close();
                        if (res.code == "1") {
                            $.own_window_close_last(true);
                        } else {
                            $.own_error(res.msg);
                        }
                    }
                });
            });
        },
        /**
         * 初始化当前页面
         */
        init: function () {
            h20210725153958.loadBaseData();

            h20210725153958.query("div[pn='gender']").own_ace_radio_group({
                data: [
                    {value: "1", text: "男"},
                    {value: "2", text: "女"}
                ]
            });


            h20210725153958.query("input[pn='pic']").own_image_upload({
                host: "/pf/PlatformImage/load"
            });

            //绑定角色
            h20210725153958.query("div[pn='role']").own_ace_checkbox_group({
                fieldValue: "id",
                fieldText: "name",
                value: "[[${orm.role}]]",
                data: h20210725153958.baseData.roles
            });
            h20210725153958.query("#btnClose").click(function () {
                $.own_window_close_last();
            });
            h20210725153958.query("#btnConfirm").click(function () {
                h20210725153958.save();
            });
        }
    };
    /**
     * 初始化页面入口
     */
    $(function () {
        h20210725153958.init();//初始化当前页面
    });
</script>
<div id="m20210725153958" class="c20210725153958 own-page-edit">
    <div class="mm-form">
        <div class="own-form-content" style="height: 37em;">
            <input pn="id" type="hidden" th:value="${orm.id}"/>
            <table class="vt-table">
                <tr>
                    <th><i>*</i>所属机构：</th>
                    <td colspan="10">
                        <select th:attr="val=${orm.unit}" pn='unit'></select>
                        <script type="text/javascript">
                            $(function () {
                                h20210725153958.query("select[pn='unit']").own_ace_select({
                                    data: [(${unit})],
                                    select: function () {
                                    }
                                });
                            });
                        </script>
                    </td>
                </tr>

                <tr>
                    <th><i>*</i>用户名称：</th>
                    <td>
                        <input pn="name" class="input-sm" th:value="${orm.name}" placeholder="请输入用户名称" type="text"/>
                    </td>
                    <th><i>*</i>用户性别：</th>
                    <td>
                        <div pn="gender" th:attr="val=${orm.gender}"></div>
                    </td>
                </tr>
                <tr>
                    <th><i>*</i>用户类型：</th>
                    <td colspan="10">
                        <div style="color: blue;padding:4px 0px;font-weight: bold;">
                            主要用于控制页面中的功能按钮操作
                        </div>
                        <div th:attr="val=${orm.userType}" pn='userType'></div>
                        <script type="text/javascript">
                            $(function () {
                                h20210725153958.query("div[pn='userType']").own_ace_checkbox_group({
                                    data: [(${userType})],
                                    select: function () {
                                    }
                                });
                            });
                        </script>
                    </td>
                </tr>
                <tr>
                    <th><i>*</i>用户账户：</th>
                    <td style="width: 10em;">
                        <input style="width: 10em;" pn="account" class="input-sm" th:value="${orm.account}" placeholder="请输入用户账户" type="text"/>
                    </td>
                    <th>手机号码：</th>
                    <td>
                        <input style="width: 10em;" pn="mobile" class="input-sm" th:value="${orm.mobile}" placeholder="用户手机号码" type="text"/>
                    </td>
                </tr>
                <tr>
                    <th><i>*</i>身份证号：</th>
                    <td colspan="3">
                        <input pn="idCard" class="input-sm" th:value="${orm.idCard}" placeholder="请设置身份证号" type="text"/>
                    </td>
                </tr>
                <tr>
                    <th><i>*</i>用户密码：</th>
                    <td>
                        <input pn="password" style="width: 10em;" class="input-sm" th:value="${orm.password}" th:attr="placeholder=@{${defPasswordMinLength}+'位以上字符'+${passwordLevelDescribe}}" type="text"/>
                    </td>
                    <td colspan="2">
                        <span style="color:red;font-weight: bold;margin-left: 1em;" th:text="@{'请输入'+${defPasswordMinLength}+'位以上字符'+${passwordLevelDescribe}}"></span>
                    </td>
                </tr>
                <tr>
                    <th>用户角色：</th>
                    <td colspan="3">
                        <div pn="role" style="height: 5em;"></div>
                    </td>
                </tr>
                <tr>
                    <th>用户头像：</th>
                    <td colspan="3">
                        <input pn="pic" type="file" th:attr="val=${orm.pic}"/>
                    </td>
                </tr>
                <tr>
                    <th>备注：</th>
                    <td colspan="3">
                        <textarea pn="remark" class="form-control" th:text="${orm.remark}"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mm-form-handle">
            <button id="btnClose" class="btn btn-xs"><i class="ace-icon glyphicon glyphicon-remove"></i>关闭窗口</button>
            <button id="btnConfirm" class="btn btn-xs btn-primary"><i class="ace-icon glyphicon glyphicon-ok"></i>确定保存</button>
        </div>
    </div>
</div>
</html>