<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    .c20220301113320 {
    }

    .c20220301113320 .own_ace_address select[dtype='village'] {
        display: none;
    }
</style>
<script type="text/javascript">
    /**
     * 当前页面操作对象
     */
    var h20220301113320 = {
        /**
         * 在当前页面搜索
         */
        query: function (selector) {
            return $("#m20220301113320 " + selector);
        },
        /**
         * 保存数据
         */
        save: function () {
            var data = h20220301113320.query(".mm-form-content").own_ace_form_data();
            $.own_confirm("确定保存?", function () {
                $.own_loading();
                $.own_post({
                    url: "/pf/BusUnit/saveUnitRecord",
                    data: data,
                    call: function (res) {
                        $.own_loading_close();
                        if (res.code == "1") {
                            $.own_window_close_last(true);
                        } else {
                            $.own_error(res.msg);
                        }
                    }
                });
            });
        },
        /**
         * 初始化当前页面
         */
        init: function () {
            h20220301113320.query("div[pn='type']").own_ace_radio_group({
                data: [(${unitType})],
                select: function () {

                }
            });
            h20220301113320.query("div[pn='grade']").own_ace_radio_group({
                data: [(${unitGrade})],
                select: function () {

                }
            });
            h20220301113320.query("#unitAddress").own_ace_address({
                postPidName: "pcode",
                fieldValue: "code",
                fieldText: "name",
                url: "/pf/BusRegion/getChildren",
                prov: "[[${orm.prov}]]",
                city: "[[${orm.city}]]",
                county: "[[${orm.county}]]",
                town: "[[${orm.town}]]",
                provPn: "prov",
                cityPn: "city",
                countyPn: "county",
                townPn: "town"
            });
            h20220301113320.query("#btnClose").click(function () {
                $.own_window_close_last();
            });
            h20220301113320.query("#btnConfirm").click(function () {
                h20220301113320.save();
            });
        }
    };
    /**
     * 初始化页面入口
     */
    $(function () {
        h20220301113320.init();//初始化当前页面
    });
</script>
<div id="m20220301113320" class="c20220301113320 own-page-edit">
    <div class="mm-form">
        <div class="mm-form-content" style="height:31em;">
            <input pn="id" type="hidden" th:value="${orm.id}"/>
            <table class="vt-table">
                <tr>
                    <th><i>*</i>机构编码：</th>
                    <td colspan="3">
                        <input pn="code" th:value="${orm.code}" placeholder="请输入机构编码" class="input-sm" type="text"/>
                    </td>
                </tr>
                <tr>
                    <th><i>*</i>机构名称：</th>
                    <td colspan="3">
                        <input pn="name" th:value="${orm.name}" placeholder="请输入机构名称" class="input-sm" type="text"/>
                    </td>
                </tr>
                <tr>
                    <th>
                        <i>*</i>机构类型：
                    </th>
                    <td colspan="3">
                        <div pn='type' th:attr="val=${orm.type}"></div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <i>*</i>机构级别：
                    </th>
                    <td colspan="3">
                        <div pn='grade' th:attr="val=${orm.grade}"></div>
                    </td>
                </tr>
                <tr>
                    <th>机构区划：</th>
                    <td colspan="3">
                        <div id="unitAddress"></div>
                    </td>
                </tr>
                <tr>
                    <th>详细地址：</th>
                    <td colspan="3">
                        <input pn="addr" th:value="${orm.addr}" placeholder="请输入详细地址,例如：人民大道90号" class="input-sm" type="text"/>
                    </td>
                </tr>
                <tr>
                    <th>联系人：</th>
                    <td>
                        <input pn="linkman" th:value="${orm.linkman}" placeholder="请输入联系人" class="input-sm" type="text"/>
                    </td>
                    <th>联系手机：</th>
                    <td>
                        <input pn="mobile" th:value="${orm.mobile}" placeholder="请输入联系手机" class="input-sm" type="text"/>
                    </td>
                </tr>
                <tr>
                    <th>设备概况：</th>
                    <td colspan="3">
                        <textarea pn="general" th:text="${orm.general}" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>机构简介：</th>
                    <td colspan="3">
                        <textarea pn="introduce" th:text="${orm.introduce}" class="form-control"></textarea>
                    </td>
                </tr>

            </table>
        </div>
        <div class="mm-form-handle">
            <button id="btnClose" class="btn btn-xs"><i class="ace-icon glyphicon glyphicon-remove"></i>关闭窗口</button>
            <button id="btnConfirm" class="btn btn-xs btn-primary"><i class="ace-icon glyphicon glyphicon-ok"></i>确定保存</button>
        </div>
    </div>
</div>
</html>