<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* auther： lsd
* create： 2022-03-01 11:23:17
* describe： 诊断信息
-->
<mapper namespace="com.graphy.service.mapper.BusDiagnoseMapper">


    <!--
    * auther： lsd
    * create： 2022-03-01 12:52:43
    * describe： 获取记录
    -->
    <select id="getDiagnoseRecord" resultType="com.graphy.service.bean.dto.DiagnoseRecordDto">
        select
        diagnose.*
        ,office.NAME_ as officeName
        ,case when patient.GENDER_='1' then '男' else '女' end as patientGenderName
        ,patient.AGE_ as patientAge
        ,unit.NAME_ as 'diagnosisUnitName'
        , report.RADIATION_ID_ as 'radiationId'
        ,illness.NAME_ AS 'illnessName'
        from
        tb_bus_diagnose diagnose
        left join tb_bus_unit unit on  diagnose.DIAGNOSIS_UNIT_ = unit.ID_
        left join tb_bus_patient patient on diagnose.PATIENT_ID_=patient.ID_
        left join tb_bus_portrait_report report on 1=1 and report.STATUS_='1'  and report.PATIENT_ID_=patient.ID_
        left join tb_bus_illness illness  on diagnose.ILLNESS_ID_ = illness.ID_  and illness.STATUS_='1'
        left join tb_platform_code office on office.TYPE_='office' and diagnose.OFFICE_CODE_=office.CODE_ and office.STATUS_='1'
        where 1 = 1
        and diagnose.STATUS_ = '1'

        <!--患者ID-->
        <if test='param.patientId!=null and param.patientId!=""'>
            and diagnose.PATIENT_ID_ = #{param.patientId}
        </if>
        <!--放射号-->
        <if test='param.radiationId!=null and param.radiationId!=""'>
            and report.RADIATION_ID_ = #{param.radiationId}
        </if>

        <!--诊断病种-->
        <if test='param.diagnosisDiseases!=null and param.diagnosisDiseases!=""'>
            and diagnose.DIAGNOSIS_DISEASES_ like concat('%',#{param.diagnosisDiseases},'%')
        </if>
        <!--诊断医生-->
        <if test='param.diagnosisDoctor!=null and param.diagnosisDoctor!=""'>
            and diagnose.DIAGNOSIS_DOCTOR_ like concat('%',#{param.diagnosisDoctor},'%')
        </if>
        <!--诊断机构-->
        <if test='param.diagnosisUnit!=null and param.diagnosisUnit!=""'>
            and diagnose.DIAGNOSIS_UNIT_ like concat('%',#{param.diagnosisUnit},'%')
        </if>
        <!--科室编码 关联字典office类别-->
        <if test='param.officeCode!=null and param.officeCode!=""'>
            and diagnose.OFFICE_CODE_ = #{param.officeCode}
        </if>
        <!--科室名称-->
        <if test='param.officeName!=null and param.officeName!=""'>
            and office.NAME_ like concat('%',#{param.officeName},'%')
        </if>
        order by diagnose.CTIME_ desc
    </select>
</mapper>