<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* auther： lsd
* create： 2022-03-01 11:21:35
* describe： 病种管理
-->
<mapper namespace="com.graphy.service.mapper.BusIllnessMapper">
 

    <!--
    * auther： lsd
    * create： 2022-03-01 12:42:07
    * describe： 获取病种信息
    -->
    <select id="getIllnessRecord" resultType="com.graphy.service.bean.dto.IllnessRecordDto">
        select 
		  illness.* 
		  ,type_.NAME_ as typeName
		from
		  tb_bus_illness illness 
		  left join tb_platform_code type_ on type_.TYPE_='illness-type' and  illness.TYPE_=type_.CODE_ and type_.STATUS_='1'
		where 1 = 1 
		  and illness.STATUS_ = '1' 
		  
		<!--主键-->
		<if test='param.id!=null and param.id!=""'>
			  and illness.ID_ = #{param.id}
		</if>
		<!--病种类别 关联字典illness_type类别-->
		<if test='param.type!=null and param.type!=""'>
			  and illness.TYPE_ = #{param.type}
		</if>
		<!--ICD编码-->
		<if test='param.icd!=null and param.icd!=""'>
			  and illness.ICD_ like concat('%',#{param.icd},'%')
		</if>
		<!--病种名称-->
		<if test='param.name!=null and param.name!=""'>
			  and illness.NAME_ like concat('%',#{param.name},'%')
		</if>
		order by illness.CTIME_ desc 
    </select>
</mapper>