<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* auther： qwt
* create： 2023-06-15 09:06:08
* describe： 智能导诊分析
-->
<mapper namespace="com.graphy.service.mapper.BusIntelligentGuidanceMapper">
 

    <!--
    * auther： qwt
    * create： 2023-06-15 09:41:48
    * describe： 获取病种信息统计详情
    -->
    <select id="getIllnessStatistics" resultType="com.graphy.service.bean.dto.IllnessStatisticsDto">
        SELECT illness.NAME_ as'illnessName',illness.ID_ as 'illnessId'
		FROM tb_bus_illness illness
		WHERE illness.STATUS_='1'
		and  illness.IS_USE_ ='1'
		<!--病种ID-->
		<if test='param.illnessId!=null and param.illnessId!=""'>
			and illness.ID_ = #{param.illnessId}
		</if>

		
    </select>
</mapper>