<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* auther： lsd
* create： 2022-03-01 11:22:06
* describe： 患者管理
-->
<mapper namespace="com.graphy.service.mapper.BusPatientMapper">
 

    <!--
    * auther： lsd
    * create： 2022-03-01 11:54:13
    * describe： 获取患者信息
    -->
    <select id="getPatientRecord" resultType="com.graphy.service.bean.dto.PatientRecordDto">
        select *
		from
		  tb_bus_patient patient 
		where 1 = 1 
		  and patient.STATUS_ = '1' 
		  
		<!--主键-->
		<if test='param.id!=null and param.id!=""'>
			  and patient.ID_ = #{param.id}
		</if>
		<!--姓名-->
		<if test='param.name!=null and param.name!=""'>
			  and patient.NAME_ like concat('%',#{param.name},'%')
		</if>
		<!--性别 1=男 2=女-->
		<if test='param.gender!=null and param.gender!=""'>
			  and patient.GENDER_ = #{param.gender}
		</if>
		<!--年龄-开始-->
		<if test='param.ageStart!=null'>
			  and patient.AGE_ &gt;= #{param.ageStart}
		</if>
		<!--年龄-截止-->
		<if test='param.ageEnd!=null'>
			  and patient.AGE_ &lt;= #{param.ageEnd}
		</if>
		<!--年龄-截止-->
		<if test='param.ageEnd!=null'>
			and patient.AGE_ &lt;= #{param.ageEnd}
		</if>
		<!--危急值-->
		<if test='param.crisisValue!=null and param.crisisValue!=""'>
			and patient.CRISIS_VALUE_ = #{param.crisisValue}
		</if>
		<!--诊断状态-->
		<if test='param.diagnosisStatus!=null and param.diagnosisStatus!=""'>
			and patient.DIAGNOSIS_STATUS_ = #{param.diagnosisStatus}
		</if>
		order by patient.CRISIS_VALUE_ DESC, patient.CTIME_ desc
    </select>
	<!--
    * auther： qwt
    * create： 2022-03-01 11:54:13
    * describe： 获取患者信息
    -->
	<select id="getPatientInfo" resultType="com.graphy.service.bean.dto.PatientRecordDto">
		SELECT patient.*,
		unit.NAME_ AS 'diagnoseUnitName',
		case  when patient.GENDER_ ='1' then '男'
		when patient.GENDER_ ='2' then '女'
		end as 'genderName',
		case  when patient.CRISIS_VALUE_ ='0' then '正常'
		when patient.GENDER_ ='1' then '紧急'
		when patient.GENDER_ ='2' then '加急'
		end as 'crisisValueName',
		case  when patient.DIAGNOSIS_STATUS_ ='0' then '未诊断'
		when patient.GENDER_ ='1' then '已诊断'
		end as 'diagnosisStatusName',
        illness.NAME_ AS 'illnessName',illness.ID_ as 'illnessId',DATE(patient.DIAGNOSIS_TIME_) AS 'diagnoseTime'
		FROM tb_bus_patient patient
		left join tb_bus_unit unit
		on patient.DIAGNOSIS_UNIT_ = unit.ID_
		and unit.STATUS_='1'
		left join tb_bus_illness illness
		on patient.ILLNESS_ID_ = illness.ID_
		and illness.STATUS_='1'
		WHERE 1=1
		AND patient.STATUS_='1'
		<!--主键-->
		<if test='param.id!=null and param.id!=""'>
			and patient.ID_ = #{param.id}
		</if>

		<!--主键-->
		<if test='param.illnessId!=null and param.illnessId!=""'>
			and patient.ILLNESS_ID_ = #{param.illnessId}
		</if>
		<!--性别 1=男 2=女-->
		<if test='param.gender!=null and param.gender!=""'>
			and patient.GENDER_ = #{param.gender}
		</if>
		<!--危急值-->
		<if test='param.crisisValue!=null and param.crisisValue!=""'>
			and patient.CRISIS_VALUE_ = #{param.crisisValue}
		</if>
		<!--诊断状态-->
		<if test='param.diagnosisStatus!=null and param.diagnosisStatus!=""'>
			and patient.DIAGNOSIS_STATUS_ = #{param.diagnosisStatus}
		</if>
		<!--放射号-->
		<if test='param.radiationId!=null and param.radiationId!=""'>
			and patient.RADIATION_ID_ = #{param.radiationId}
		</if>
		<!--报告机构-->
		<if test='param.diagnosisUnit!=null and param.diagnosisUnit!=""'>
			and patient.DIAGNOSIS_UNIT_ = #{param.diagnosisUnit}
		</if>
		<!--报告医生-->
		<if test='param.diagnosisDoctor!=null and param.diagnosisDoctor!=""'>
			and patient.DIAGNOSIS_DOCTOR_ like  concat('%',#{param.diagnosisDoctor},'%')
		</if>
		<!--报告时间-开始-->
		<if test='param.diagnosisTimeStart!=null'>
			and DATE(patient.DIAGNOSIS_TIME_) &gt;= #{param.diagnosisTimeStart}
		</if>
		<!--报告时间-截止-->
		<if test='param.diagnosisTimeEnd!=null'>
			and DATE(patient.DIAGNOSIS_TIME_) &lt;= #{param.diagnosisTimeEnd}
		</if>
		order by  patient.CTIME_ desc
	</select>

	<!--
	* auther： lsd
	* create： 2022-03-01 11:54:13
	* describe： 获取患者信息
	-->
	<select id="getPatientRecord1" resultType="com.graphy.service.bean.dto.PatientRecordDto">
		select *
		from
			tb_bus_patient patient
		where 1 = 1
		  and patient.STATUS_ = '1'
		  AND patient.TXID_ IS NULL
		order by patient.CTIME_ ASC
	</select>
</mapper>