<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* auther： qwt
* create： 2022-12-05 10:22:14
* describe： 影像报告图片管理
-->
<mapper namespace="com.graphy.service.mapper.BusPortraitReportImagesMapper">
 
</mapper>
