<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* auther： lsd
* create： 2022-03-01 15:55:16
* describe： 患者选择
-->
<mapper namespace="com.graphy.service.mapper.BusQueryPatientMapper">
 

    <!--
    * auther： lsd
    * create： 2022-03-01 15:59:46
    * describe： 搜索患者记录
    -->
    <select id="getQueryPatientRecord" resultType="com.graphy.service.bean.dto.QueryPatientRecordDto">
        select 
		  patient.* ,
		  unit.NAME_ as 'reportUnitName'
		from
		  tb_bus_patient patient
		left join tb_bus_unit unit
		on patient.DIAGNOSIS_UNIT_=unit.ID_
		and unit.STATUS_='1'
		where  patient.STATUS_ = '1'
		<!--姓名-->
		<if test='param.name!=null and param.name!=""'>
			  and patient.NAME_ like concat('%',#{param.name},'%')
		</if>
		<!--性别-->
		<if test='param.gender!=null and param.gender!=""'>
			  and patient.GENDER_ = #{param.gender}
		</if>
		<!--年龄-开始-->
		<if test='param.ageStart!=null'>
			  and patient.AGE_ &gt;= #{param.ageStart}
		</if>
		<!--年龄-截止-->
		<if test='param.ageEnd!=null'>
			  and patient.AGE_ &lt;= #{param.ageEnd}
		</if>
		<!--危急值-->
		<if test='param.crisisValue!=null and param.crisisValue!=""'>
			and patient.CRISIS_VALUE_ = #{param.crisisValue}
		</if>
		<!--诊断状态-->
		<if test='param.diagnosisStatus!=null and param.diagnosisStatus!=""'>
			and patient.DIAGNOSIS_STATUS_ = #{param.diagnosisStatus}
		</if>
		<!--放射号-->
		<if test='param.radiationId!=null and param.radiationId!=""'>
			and patient.RADIATION_ID_ = #{param.radiationId}
		</if>
		<choose>
			<when test ='param.choosetype !=null and param.choosetype=="1" and param.unit !=null and param.unit !=""'>
				and patient.DIAGNOSIS_UNIT_ != #{param.unit}
			</when>
			<when test ='param.choosetype !=null and param.choosetype=="2" and param.unit !=null and param.unit !=""'>
				and patient.DIAGNOSIS_UNIT_ = #{param.unit}
			</when>
		</choose>
		order by patient.CTIME_ desc 
    </select>
</mapper>