<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* auther： lsd
* create： 2021-07-22 00:47:45
* describe： 字典管理
-->
<mapper namespace="com.graphy.service.mapper.PlatformCodeMapper">


    <!--
    * auther： lsd
    * create： 2021-07-23 20:28:05
    * describe： 分页获取字典信息
    -->
    <select id="getCodePage" resultType="com.graphy.service.bean.dto.PlatformCodePageDto">
        select
        code.*
        , sct.NAME_ as codeTypeName
        from
        tb_platform_code code
        left join tb_platform_code_type sct
        on code.TYPE_ = sct.CODE_
        where 1 = 1
        and code.STATUS_ = '1'

        <!--主键ID-->
        <if test='param.id!=null and param.id!=""'>
            and code.ID_ = #{param.id}
        </if>
        <!--类别-->
        <if test='param.type!=null and param.type!=""'>
            and code.TYPE_ = #{param.type}
        </if>
        <!--编码-->
        <if test='param.code!=null and param.code!=""'>
            and code.CODE_ = #{param.code}
        </if>
        <!--名称-->
        <if test='param.name!=null and param.name!=""'>
            and code.NAME_ like concat('%',#{param.name},'%')
        </if>
        order by sct.ORD_ desc
        , sct.CTIME_ asc
        , code.ORD_ desc
        , code.CTIME_ desc
    </select>
</mapper>