<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* auther： lsd
* create： 2021-08-08 23:26:38
* describe： 任务日志
-->
<mapper namespace="com.graphy.service.mapper.PlatformTaskLogMapper">
    <!--清除过期数据-->
    <delete id="cleanData">
        delete from tb_platform_task_log where LOG_TIME_OUT_ &lt;= now();
		optimize table tb_platform_task_log;
	</delete>

    <!--
    * auther： lsd
    * create： 2021-08-09 22:40:25
    * describe： 分页获取任务执行日志
    -->
    <select id="getPlatformTaskLog" resultType="com.graphy.service.bean.dto.PlatformTaskLogDto">
        select 
		  task.ID_ as taskId
		  , task.TASK_NAME_
		  , taskLog.ID_ as taskLogId
		  , taskLog.RUN_START_TIME_ as runStartTime
		  , taskLog.RUN_END_TIME_ as runEndTime
		  , taskLog.HAPPEN_ERROR_ as happenError
		  , taskLog.ERROR_ as error 
		  ,taskLog.RESULT_ as result
		from
		  tb_platform_task task 
		  join tb_platform_task_log taskLog 
		    on 1 = 1 
		    and taskLog.TASK_ID_ = task.ID_ 
		where 1 = 1 
		  and task.STATUS_ = '1' 
		  and taskLog.STATUS_ = '1' 
		  
		<!--主键ID-->
		<if test='param.taskId!=null and param.taskId!=""'>
			  and task.ID_ = #{param.taskId}
		</if>
		<!--任务名称-->
		<if test='param.taskName!=null and param.taskName!=""'>
			  and task.TASK_NAME_ like concat('%',#{param.taskName},'%')
		</if>
		<!--主键ID-->
		<if test='param.taskLogId!=null and param.taskLogId!=""'>
			  and taskLog.ID_ = #{param.taskLogId}
		</if>
		<!--开始执行时间-开始-->
		<if test='param.runStartTimeStart!=null'>
			  and taskLog.RUN_START_TIME_ &gt;= #{param.runStartTimeStart}
		</if>
		<!--开始执行时间-截止-->
		<if test='param.runStartTimeEnd!=null'>
			  and taskLog.RUN_START_TIME_ &lt;= #{param.runStartTimeEnd}
		</if>
		<!--结束执行时间-开始-->
		<if test='param.runEndTimeStart!=null'>
			  and taskLog.RUN_END_TIME_ &gt;= #{param.runEndTimeStart}
		</if>
		<!--结束执行时间-截止-->
		<if test='param.runEndTimeEnd!=null'>
			  and taskLog.RUN_END_TIME_ &lt;= #{param.runEndTimeEnd}
		</if>
		<!--发生异常 1=是 0=否-->
		<if test='param.happenError!=null and param.happenError!=""'>
			  and taskLog.HAPPEN_ERROR_ = #{param.happenError}
		</if>
		<!--异常信息-->
		<if test='param.error!=null and param.error!=""'>
			  and taskLog.ERROR_ like concat('%',#{param.error},'%')
		</if>
		<!--执行结果-->
		<if test='param.result!=null and param.result!=""'>
			  and taskLog.RESULT_ like concat('%',#{param.result},'%')
		</if>
		order by taskLog.CTIME_ desc 
    </select>
</mapper>