<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* auther： lsd
* create： 2021-07-28 23:15:04
* describe： 登录日志
-->
<mapper namespace="com.graphy.service.mapper.PlatformLoginLogMapper">
 


    <!--
    * auther： lsd
    * create： 2021-07-28 23:27:14
    * describe： 分页获取登录信息
    -->
    <select id="getLoginLogs" resultType="com.graphy.service.bean.dto.PlatformLoginLogsDto">
        select 
		  a.* 
		  ,su.ACCOUNT_ as userAccount
		  ,su.NAME_ as userName
		from
		  tb_platform_login a 
		  join tb_platform_user su 
		    on 1 = 1 
		    and a.USER_ID_ = su.ID_ 
		where 1 = 1 
		  and a.STATUS_ = '1' 
		
		<!--主键-->
		<if test='param.id!=null and param.id!=""'>
			  and a.ID_ = #{param.id}
		</if>
		<!--账户ID-->
		<if test='param.userId!=null and param.userId!=""'>
			  and a.USER_ID_ = #{param.userId}
		</if>
		<!--令牌ID-->
		<if test='param.token!=null and param.token!=""'>
			  and a.TOKEN_ = #{param.token}
		</if>
		<!--会话ID-->
		<if test='param.sessionId!=null and param.sessionId!=""'>
			  and a.SESSION_ID_ = #{param.sessionId}
		</if>
		<!--IP地址-->
		<if test='param.ip!=null and param.ip!=""'>
			  and a.IP_ = #{param.ip}
		</if>
		<!--创建时间-开始-->
		<if test='param.ctimeStart!=null'>
			  and a.CTIME_ &gt;= #{param.ctimeStart}
		</if>
		<!--创建时间-截止-->
		<if test='param.ctimeEnd!=null'>
			  and a.CTIME_ &lt;= #{param.ctimeEnd}
		</if>
		<!--用户名-->
		<if test='param.userAccount!=null and param.userAccount!=""'>
			  and su.ACCOUNT_ like concat('%',#{param.userAccount},'%')
		</if>
		<!--真实姓名-->
		<if test='param.userName!=null and param.userName!=""'>
			  and su.NAME_ like concat('%',#{param.userName},'%')
		</if>
		order by a.CTIME_ desc 
    </select>
</mapper>