<?xml version="1.0" encoding="utf-8"?>
<configs>
     <basic>
          <item key="user" value="超狗" />
          <item key="contact" value="**********@126.com" />
          <item key="mybatis" value="1" />
          <item key="sourceRoot" value="/src/main/java" />
          <item key="loginClass" value="" />
          <item key="returnResult" value="SdResult&lt;%s&gt;" />
          <item key="returnResultClass" value="@{支持包路径}.SdResult" />
          <item key="vo" value="vo" />
          <item key="filter" value="get,set,find" />
          <item key="dogSupportPak" value="own.dog" />
          <item key="isSwagger" value="0" />
          <item key="isAutoCreateDogPek" value="0" />
          <item key="DESKey" value="linshida@own.com.cn!123456789101" />
     </basic>
     <frame>
          <item key="orm" pak="orm" ide="Orm" ori="1" />
          <item key="resp" pak="sp" ide="Sp" ori="1" />
          <item key="requ" pak="qu" ide="Qu" ori="1" />
          <item key="page" pak="pg" ide="Pg" ori="1" />
          <item key="svc" pak="svc" ide="Svc" ori="1" />
          <item key="dao" pak="dao" ide="Dao" ori="1" />
          <item key="ctrl" pak="ctrl" ide="Ctrl" ori="1" />
          <item key="mapper" pak="mapper" ide="Mapper" ori="1" />
     </frame>
     <mapping>
          <item key="date" value="Date" />
          <item key="double" value="Double" />
          <item key="varchar" value="String" />
          <item key="numeric" value="Double" />
          <item key="float" value="Float" />
          <item key="bit" value="boolean" />
          <item key="int" value="Integer" />
          <item key="datetime" value="Date" />
          <item key="nvarchar" value="String" />
          <item key="text" value="String" />
          <item key="decimal" value="Double" />
          <item key="bigint" value="Long" />
          <item key="timestamp" value="Date" />
     </mapping>
</configs>

