<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graphy.db.mapper.TbBusPortraitReportMapper">

                <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.graphy.db.entity.TbBusPortraitReportEntity">
                                                <id column="ID_" property="id" />
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <result column="PATIENT_ID_" property="patientId" />
                                                                <result column="STRAIGHT_MATTER_" property="straightMatter" />
                                                                <result column="IMAGE_URL_" property="imageUrl" />
                                                                <result column="DOCTOR_" property="doctor" />
                                                                <result column="REPORT_TIME_" property="reportTime" />
                                                                <result column="STATUS_" property="status" />
                                                                <result column="CTIME_" property="ctime" />
                                                                <result column="CUSER_" property="cuser" />
                                                                <result column="CUSER_NAME_" property="cuserName" />
                                                                <result column="UTIME_" property="utime" />
                                                                <result column="UUSER_" property="uuser" />
                                                                <result column="UUSER_NAME_" property="uuserName" />
                                                                <result column="DTIME_" property="dtime" />
                                                                <result column="DUSER_" property="duser" />
                                                                <result column="DUSER_NAME_" property="duserName" />
                                    </resultMap>

                <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        ID_, PATIENT_ID_, STRAIGHT_MATTER_, IMAGE_URL_, DOCTOR_, REPORT_TIME_, STATUS_, CTIME_, CUSER_, CUSER_NAME_, UTIME_, UUSER_, UUSER_NAME_, DTIME_, DUSER_, DUSER_NAME_
    </sql>

    </mapper>