<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graphy.db.mapper.TbBusRegionMapper">

                <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.graphy.db.entity.TbBusRegionEntity">
                                                <id column="ID_" property="id" />
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <result column="PCODE_" property="pcode" />
                                                                <result column="CODE_" property="code" />
                                                                <result column="NAME_" property="name" />
                                                                <result column="ORD_" property="ord" />
                                                                <result column="STATUS_" property="status" />
                                                                <result column="CTIME_" property="ctime" />
                                                                <result column="CUSER_" property="cuser" />
                                                                <result column="CUSER_NAME_" property="cuserName" />
                                                                <result column="UTIME_" property="utime" />
                                                                <result column="UUSER_" property="uuser" />
                                                                <result column="UUSER_NAME_" property="uuserName" />
                                                                <result column="DTIME_" property="dtime" />
                                                                <result column="DUSER_" property="duser" />
                                                                <result column="DUSER_NAME_" property="duserName" />
                                    </resultMap>

                <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        ID_, PCODE_, CODE_, NAME_, ORD_, STATUS_, CTIME_, CUSER_, CUSER_NAME_, UTIME_, UUSER_, UUSER_NAME_, DTIME_, DUSER_, DUSER_NAME_
    </sql>

    </mapper>