<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    .c20220301113301 {
    }
    .c20220301113301 .ft-item-zone {
        display: inline-block;
        float: left;
        width: 100%;
        overflow: hidden;
        padding: 2px;
    }
    .c20220301113301 .ft-item {
        display: -webkit-flex;
        display: flex;
        flex-flow: column nowrap;
        border: 1px solid #ddd;
        margin-bottom: 5px;
    }
    .c20220301113301 .ft-item-title {
        border-bottom: 1px solid #ddd;
        padding: 5px;
        flex-grow: 0;
        background-color: #f1f1f1;
    }

    .c20220301113301 .ft-item-title .ace-icon {
        color: blue;
    }

    .c20220301113301 .ft-item-title .type-name {
        color: blue;
        font-weight: bold;
    }
    .c20220301113301 .ft-item-image {
        flex-grow: 1;
        height: 80px;
        display: -webkit-flex;
        display: flex;
        flex-flow: row nowrap;
    }
    .c20220301113301 .ft-item-image .ft-item-image-upload {
        flex-grow: 0;
        height: 70px;
        width: 70px;
        box-sizing: border-box;
        border: 4px solid #ddd;
        display: -webkit-flex;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        justify-content: center;
        background-color: #f1f1f1;
    }

    .c20220301113301 .ft-item-image .ft-item-image-upload i {
        font-size: 29px;
        color: #8A8A8A;
    }
    .c20220301113301 .ft-item-image .ft-item-image-items {
        flex-grow: 1;
        overflow-y: auto;
    }
    .c20220301113301 .file-item .own-image-upload .ofu-item image {
        margin-left: 1px;
    }
</style>
<script type="text/javascript">
    /**
     * 当前页面操作对象
     */
    var h20220301113301 = {
        /**
         * 在当前页面搜索
         */
        query: function (selector) {
            return $("#m20220301113301 " + selector);
        },
        /**
         * 保存数据
         */
        save: function () {
            var data = h20220301113301.query(".mm-form-content").own_ace_form_data();

            data.files=[];
            h20220301113301.query(".own-image-upload").each(function () {
                var $ftItem = $(this);
                $ftItem.find(".ofu-item.image img").each(function (n){
                    debugger;
                    var $img = $(this);
                    var src = "";
                    src = $img.attr("src");
                    data.files.push(src);
                });
            });
            debugger;
            $.own_confirm("确定保存?", function () {
                $.own_loading();
                $.own_post({
                    url: "/pf/BusPatient/savePatientRecord",
                    data: data,
                    call: function (res) {
                        $.own_loading_close();
                        if (res.code == "1") {
                            $.own_window_close_last(true);
                        } else {
                            $.own_error(res.msg);
                        }
                    }
                });
            });
        },
        /**
         * 添加图片
         * @param {Object} url 图片链接地址/base64
         */
        addImage: function (url) {
            var def = {
                //是否多个文件
                multifile: false,
                //图片最大宽度
                imageMaxWidth: 600,
                //图片最大高度
                imageMaxHeight: 400,
                picbox: "picbox-" + (new Date().getTime())
            };
            var $fiii = h20220301113301.query(".ft-item-image .own-image-upload").find(".showImages");
            var $image = $("<div class='ofu-item image'></div>");
            var $img = $("<img rel='" + def.picbox + "' src='" + url + "'  />");
            var $delb = $("<span class='del-b'></span>");
            var $del = $("<span class='del'></span>");
            $image.append($img).append($del).append($delb);
            $image.find(".del,.del-b").click(function () {
                $(this).parents(".ofu-item").remove();
            });

            $fiii.append($image);
            // $("img[rel='" + def.picbox + "']").own_image_show();
            h20220301113301.query(".ft-item-image .own-image-upload .showImages img[rel]").own_image_show();
        },
        /**
         * 绑定图片
         * @param id
         */
        bindImages: function () {
            var data = h20220301113301.query(".mm-form-content").own_ace_form_data();
            $.own_post({
                url: "/pf/BusPortraitReport/getImages",
                data: {id: data.id},
                postType: "2",
                call: function (res) {
                    $.own_loading_close();
                    if (res.code == "1") {
                        for (var i=0;i<res.result.length;i++){
                            h20220301113301.addImage(res.result[i]);
                        }
                    } else {
                        $.own_error(res.msg);
                    }
                }
            })
        },
        /**
         * 初始化当前页面
         */
        init: function () {
            h20220301113301.query("div[pn='gender']").own_ace_radio_group({
                data: [{value: "1", text: "男"}, {value: "2", text: "女"}],
                select: function () {
                }
            });
            h20220301113301.query("div[pn='crisisValue']").own_ace_radio_group({
                data: [{value: "0", text: "正常"}, {value: "1", text: "紧急"},{value: "2", text: "加急"}],
                select: function () {
                }
            });
            h20220301113301.query("input[pn='diagnosisTime']").datepicker({autoclose: true});
            h20220301113301.query("#btnClose").click(function () {
                $.own_window_close_last();
            });
            h20220301113301.query("#btnConfirm").click(function () {
                h20220301113301.save();
            });
            h20220301113301.query(".ft-item-image-upload").each(function () {
                var $this = $(this);
                var imgHost = "/pf/BusPortraitReport/fileUploading";
                $this.own_image_upload({host: imgHost,multifile:true});
            });

            h20220301113301.bindImages();
        }
    };
    /**
     * 初始化页面入口
     */
    $(function () {
        h20220301113301.init();//初始化当前页面
    });
</script>
<div id="m20220301113301" class="c20220301113301 own-page-edit">
    <div class="mm-form">
        <div class="mm-form-content" style="height:29em;">
            <input pn="id" type="hidden" th:value="${orm.id}"/>
            <table class="vt-table">
                <tr>
                    <th style="width:8em;"><i>*</i>患者放射号：</th>
                    <td>
                        <input pn="radiationId" th:value="${orm.radiationId}" placeholder="请输入放射号" class="input-sm" type="text"/>
                    </td>
                    <th><i>*</i>患者性别：</th>
                    <td>
                        <div th:attr="val=${orm.gender}" pn='gender'></div>
                    </td>
                </tr>
                <tr>
                    <th><i>*</i>患者年龄：</th>
                    <td>
                        <input pn="age" th:value="${orm.age}" placeholder="请输入年龄" class="input-sm" type="text"/>
                    </td>

                    <th>危急值：</th>
                    <td>
                        <div th:attr="val=${orm.crisisValue}" pn='crisisValue'></div>
                    </td>
                </tr>
<!--                <tr>-->
<!--                    <th><i>*</i>报告医生：</th>-->
<!--                    <td>-->
<!--                        <input pn="reportDoctor"  placeholder="请输入报告医生" th:value="${orm.reportDoctor}" class="input-sm" type="text"/>-->
<!--                    </td>-->

<!--                </tr>-->
                <th><i>*</i>患者来源：</th>
                <td >
                    <select th:attr="val=${orm.diagnosisUnit}" pn='diagnosisUnit'></select>
                    <script type="text/javascript">
                        $(function () {
                            h20220301113301.query("select[pn='diagnosisUnit']").own_ace_select({
                                data: [(${unit})],
                                select: function () {
                                }
                            });
                        });
                    </script>
                </td>
                <th><i>*</i>报告时间：</th>

                <td>
                    <input th:value="${#dates.format(orm.diagnosisTime, 'yyyy-MM-dd')}" placeholder="请选择诊断时间" pn="diagnosisTime" class="form-control date-picker" type="text" data-date-format="yyyy-mm-dd"/>
                </td>
                <tr>
<!--                    <th><i>*</i>诊断病种：</th>-->
<!--                    <td>-->
<!--                        <select th:attr="val=${orm.illnessId}" pn='illnessId'></select>-->
<!--                        <script type="text/javascript">-->
<!--                            $(function () {-->
<!--                                h20220301113301.query("select[pn='illnessId']").own_ace_select({-->
<!--                                    data: [(${illnessId})],-->
<!--                                    select: function () {-->
<!--                                    }-->
<!--                                });-->
<!--                            });-->
<!--                        </script>-->
<!--                    </td>-->
                    <th><i>*</i>报告医生：</th>
                    <td colspan="10">
                        <input pn="diagnosisDoctor" th:value="${orm.diagnosisDoctor}" placeholder="请输入诊断医生" class="input-sm" type="text"/>
                    </td>

<!--                </tr>-->
<!--                <tr>-->
<!--                    <th>影像报告正文：</th>-->
<!--                    <td colspan="10">-->
<!--                        <textarea style="height:6.5em;" pn="straightMatter"  th:text="${orm.straightMatter}" class="form-control"></textarea>-->
<!--                    </td>-->
                </tr>
                <tr>
                    <th>描述：</th>
                    <td colspan="10">
                        <textarea style="height:6.5em;" pn="diagnosisDescribe"  th:text="${orm.diagnosisDescribe}" class="form-control"></textarea>
                    </td>
                </tr>
            </table>
            <div class="ft-item-zone" >
                <div class="ft-item" >
                    <div class="ft-item-title">
                        <span class="type-name" >影像图片</span>
                    </div>
                    <div class="ft-item-image" >
                        <div class="own-image-upload">
                            <div class="showImages"></div>
                        </div>
                        <input class="ft-item-image-upload" pn="files" type="file"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="mm-form-handle">
            <button id="btnClose" class="btn btn-xs"><i class="ace-icon glyphicon glyphicon-remove"></i>关闭窗口</button>
            <button id="btnConfirm" class="btn btn-xs btn-primary"><i class="ace-icon glyphicon glyphicon-ok"></i>确定保存</button>
        </div>
    </div>
</div>
</html>