* {
    margin: 0px;
    padding: 0px;
}

.own-loading {
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #444;
    opacity: 0.2;
    z-index: 999999999;
    background-image: url("image/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
    font-size: 0.7em;
}

.jconfirm .jconfirm-box {
    padding-top: 5px;
}

.jconfirm .jconfirm-box div.jconfirm-title-c {
    padding-bottom: 5px;
}

.own-ace-switch input[type=checkbox],
.own-ace-switch input[type=radio] {
    margin: 0px;
}

.own-ace-switch input[type=checkbox].ace.ace-switch {
    height: 25px;
}

.own-ace-switch {
    display: inline-block;
    padding-top: 0.1em;
}

.own-ace-checkbox-group {
    border: 1px solid #D5D5D5;
    background-color: #fff;
}

.own-ace-checkbox-group-item {
    line-height: 1.8em;
    margin-bottom: 0px;
}

.own-ace-checkbox-group.horizontal {
    padding: 0.3em;
}

.own-ace-checkbox-group.horizontal .own-ace-checkbox-group-item {
    display: inline-block;
    margin-right: 0.4em;
}

.own-ace-checkbox-group.vertical {
    overflow-y: auto;
}

.own-ace-checkbox-group.vertical .own-ace-checkbox-group-item {
    padding-left: 0.3em;
    display: block;
}

input[type=radio].ace + .lbl::before {
    top: -2px !important;
    line-height: 17px !important;
    height: 18px !important;
    width: 18px !important;
}


.own-ace-select {
    padding: 0px !important;
    height: 28px !important;
    line-height: 28px !important;
}

.own-ace-upload {
    min-height: 2.5em;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    background-color: #fff;
}

.own-ace-upload-shade {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #555555;
    opacity: 0.2;
    display: none;
}

.own-ace-upload-progress {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: #87b87f;
    display: none;
}

.own-ace-upload-percent {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    display: none;
    line-height: 2.5em;
    color: #fff;
    padding-left: 0.5em;
}

.own-ace-upload-btn {
    flex-grow: 0;
    position: relative;
    cursor: pointer;
    width: 6em;
    min-width: 6em;
    border: 1px solid #ddd;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.own-ace-upload-btn span {
    color: #fff;
    display: inline-block;
    font-size: 0.9em;
    background: #428BCA;
    padding: 0.4em;
    margin-top: 0.1em;
}

.own-ace-upload-btn span i {
    margin-right: 0.3em;
}

.own-ace-upload-btn input[type='file'] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.own-ace-upload-files {
    flex-grow: 1;
    padding-left: 0.1em;
    padding-bottom: 0.1em;
    border: 1px solid #ddd;
    border-right: 0px;
    position: relative;
    max-height: 10em;
    overflow-y: auto;
}

.own-ace-upload-files-item {
    float: left;
    min-height: 2.2em;
    margin-top: 0.1em;
    margin-right: 0.3em;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #ddd;
    cursor: pointer;
}

.own-ace-upload-files-item-name {
}

.own-ace-upload-files-item-name span {
    vertical-align: middle;
    padding-right: 0.5em;
}

.own-ace-upload-files-item-img {
    height: 100% !important;
    width: 2.2em;
    cursor: pointer;
}

.own-ace-upload-files-item-img.file {
    width: 16px !important;
    height: 16px !important;
    margin: 0.4em;
}

.own-ace-upload-files-item-del {
    padding-left: 0.1em;
    padding-right: 0.1em;
    background-color: #f1f1f1;
}

.own-ace-upload-files-item-del i {
    vertical-align: bottom;
    color: #bcbcbc;
    font-weight: normal;
}

.own-ace-upload-files-item-del:hover i {
    color: red;
}

.own-tabs {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    font-size: 14px;
    background-color: #f5f5f5;
    padding: 0px !important;
    border: 0px !important;
}

.own-tabs-left,
.own-tabs-right,
.own-tabs-full,
.own-tabs-close {
    flex-grow: 0;
    border: 1px solid #dddddd;
    width: 2em;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.own-tabs-left, .own-tabs-full {
    border-left: 0px;
}

.own-tabs-full, .own-tabs-close {
    width: 2.5em;
}

.own-tabs-close {
    border-right: 0px;
}

.own-tabs-left:hover,
.own-tabs-right:hover,
.own-tabs-full:hover,
.own-tabs-close:hover {
    background-color: #dddddd;
}

.own-tabs-left-icon,
.own-tabs-right-icon {
    color: #555555;
}

.own-tabs-close {
    border-left: 0px;
}

.own-tabs-left-icon {
}

.own-tabs-right-icon {
}

.own-tabs-middle {
    flex-grow: 1;
    position: relative;
}

.own-tabs-item-clear {
    clear: both;
}

.own-tabs-middle-content {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: hidden;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.own-tabs-item {
    margin-left: 4px;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    flex-grow: 0;
    margin-top: 2px;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 32px;
}

.own-tabs-item-icon,
.own-tabs-item-close {
    width: 1.5em;
    text-align: center;
    color: #616161;
    cursor: pointer;
    height: 100%;
}

.own-tabs-item-name {
    cursor: pointer;
    height: 100%;
    user-select: none;
    font-weight: bold;
}

.own-tabs-item-close {
    cursor: pointer;
    color: #616161;
}

.own-tabs-item.on {
    border: 1px solid #dddddd;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

.own-tabs-item.on * {
    color: crimson;
}

.own-tabs-middle-top-line,
.own-tabs-middle-bottom-line {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #dddddd;
    z-index: 1;
}

.own-tabs-middle-top-line {
    top: 0px;
}

.own-tabs-middle-bottom-line {
    bottom: 0px;
}

.own-ace-editor {
}

.note-editor.note-frame {
    border: 1px solid #dddddd;
}

.note-editor.note-frame p {
    margin: 0px !important;
}

.own-ace-window {
}

.own-window-title .jconfirm-icon-c {
    margin-right: 4px !important;
}

.own-window-title .jconfirm-icon-c i {
    font-size: 16px;
    vertical-align: bottom !important;
    color: #333;
}

.own-ace-table .fixed-table-container tbody tr:hover td {
    background-color: #f1f1f1;
}

.own-ace-table tbody tr td {
    background-color: #fff;
}

.own-ace-table tbody tr td .oh {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
    text-align: left;
}

.own-ace-table {
}

.own-ace-table .no-records-found td {
    line-height: 2.5em;
}

.own-ace-table > tbody > tr > td,
.own-ace-table > tbody > tr > th,
.own-ace-table > tfoot > tr > td,
.own-ace-table > tfoot > tr > th,
.own-ace-table > thead > tr > td,
.own-ace-table > thead > tr > th {
    padding: 0.2em 0.5em;
}

.own-ace-table tbody tr:hover td {
    background-color: #f5f5f5;
}

.bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .loading-text {
    font-size: 1em;
    margin-right: 0px;
}

.own-ace-table tr td {
    height: 2.5em;
}


.own-ace-table tr td .ace-icon {
    font-size: 12px !important;
}

.own-base-iconfont {
    font-size: 12px;
}

input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
textarea {
    width: 100%;
    color: #333;
    vertical-align: middle;
}

.sidebar .sidebar-shortcuts {
    min-height: 34px;
}

.sidebar .sidebar-shortcuts-large {
    line-height: 30px;
}

.sidebar .sidebar-shortcuts-large > .btn {
    line-height: 20px;
}

.sidebar.menu-min .sidebar-shortcuts {
    z-index: 10;
}

.pull-right {
    margin-right: -10px;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: 0.55rem;
}

.colorpicker.colorpicker-with-alpha {
    min-width: 130px !important;
}

.colorpicker.colorpicker-with-alpha .colorpicker-alpha {
    display: none !important;
}

.own-input-file {
    padding: 0px;
    height: 30px;
    width: 80px;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.own-input-file .own-input-file-text {
    z-index: 99;
    width: 100%;
    height: 100%;
    line-height: 23px;
}

.own-input-file .own-input-file-text .own-input-file-text-icon {
    margin-right: 4px;
}

.own-input-file input[type='file'] {
    z-index: 100;
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.bootstrap-table input[type='checkbox'] {
    vertical-align: middle !important;
    cursor: pointer;
}

.ace-input-tags {
    display: inline-block;
    width: 100%;
    border: 1px solid #ddd;
    overflow-y: auto;
}

.ace-input-tags .tags {
    display: block;
    width: unset;
    border: 0px;
}

.own_ace_address {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

.own_ace_address select[dtype] {
    padding: 0px !important;
    height: 28px !important;
    line-height: 28px !important;
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
    text-align: center;
}

.own_ace_address select[dtype] {
    margin-right: 0.3em;
}

.own_ace_address select[dtype]:last-child {
    margin-right: 0em;
}

input[type=radio].ace.ace-checkbox-2:checked + .lbl::before {
    color: #F9A021;
    text-shadow: unset;
}

.input-daterange {
    width: unset !important;
}

.input-daterange input {
    width: 7em !important;
}

.own-page-index {
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow-y: hidden;
}

.own-page-index .bootstrap-table {
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.own-page-index .bootstrap-table .fixed-table-toolbar {
    flex-grow: 0;
}

.own-page-index .bootstrap-table .fixed-table-container {
    flex-grow: 1;
    height: 1px;
}

.own-page-index .bootstrap-table .fixed-table-pagination {
    flex-grow: 0;
}

.own-page-edit {

}

.own-page-edit .vt-table {
    margin-top: 2px;
}

.own-page-edit .vt-table tr th {
    text-align: right;
}


.page-content {
    padding: 0px 16px 0px 18px;
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
    font-size: 0.7em;
}

.jconfirm .jconfirm-box {
    padding-top: 5px;
}

.jconfirm .jconfirm-box div.jconfirm-title-c {
    padding-bottom: 5px;
}

.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-bottom-width: 1px !important;
}

.table > thead > tr > th:last-child {
    border-right-color: #ddd;
}

.pagination-detail .page-list .dropdown-toggle {
    padding: 0.2em;
}

.footer .footer-inner .footer-content {
    bottom: 0px;
    line-height: 20px
}

.form-actions {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0px;
}

.mine-form {
    overflow-x: hidden;
}


.mm-form {
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.own-form-content {
    flex-grow: 1;
    overflow-y: auto;
    height: 1em;
    overflow-x: hidden;
    border-top: 1px solid #e5e5e5;
}

.mm-form .own-form-content::-webkit-scrollbar {
    width: 3px;
}

.mm-form .own-form-content::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 3px;
}


.jconfirm .jconfirm-box[role='dialog'] div.jconfirm-content-pane {
    margin-bottom: 0px;
}

.mm-form-handle {
    flex-grow: 0;
    border-top: 1px solid #e5e5e5;
    padding: 0.5em 0em;
    text-align: center;
}

.mm-form-handle button {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.mm-form-handle button i {
    margin-right: 0.5em !important;
}

.mm-table {
    width: 100%;
}

.mm-table tr th,
.mm-table tr td {
    font-weight: normal;
    padding: 0.5em 0em;
}

.mm-table tr td .btn {
    vertical-align: bottom;
}

.mm-table tr td textarea {
    width: 100%;
    height: 5em;
}

.mm-table tr th {
    width: 80px;
    text-align: right;
}

.mm-table tr th i {
    color: red;
    font-weight: bold;
    margin-right: 0.2em;
    font-style: normal;
    vertical-align: middle;
}

button.btn i {
    margin-right: 0.3em !important;
}

.form-control::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    font-size: 0.9em;
}

input[type=checkbox].ace.ace-switch + .lbl {
    margin: 0px;
}

.mm-ace-switch input[type=checkbox],
.mm-ace-switch input[type=radio] {
    margin: 0px;
}

.mm-ace-switch input[type=checkbox].ace.ace-switch {
    height: 25px;
}

.mm-ace-switch {
    display: inline-block;
    padding-top: 0.1em;
}


input[type=checkbox].ace.ace-switch.ace-switch-4 + .lbl::before,
input[type=checkbox].ace.ace-switch.ace-switch-5 + .lbl::before {
    content: "\a0\u662f\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\u5426";
}


.mm-ace-checkbox-group {
    border: 1px solid #D5D5D5;
}

.mm-ace-checkbox-group-item {
    line-height: 1.8em;
    margin-bottom: 0px;
}

.mm-ace-checkbox-group.horizontal {
    padding: 0.3em;
}

.mm-ace-checkbox-group.horizontal .mm-ace-checkbox-group-item {
    display: inline-block;
    margin-right: 0.4em;
}


.mm-ace-checkbox-group.vertical {
    overflow-y: auto;
}

.mm-ace-checkbox-group.vertical .mm-ace-checkbox-group-item {
    padding-left: 0.3em;
    display: block;
}

.mm-ace-select {
}

.mm-ace-upload-image {
}

.ace-file-input .ace-file-container.selected {
    right: 25px;
}

.ace-file-input .remove {
    right: 4px;
}

.mm-ace-tags {
    display: block !important;
    width: unset !important;
    min-height: 43px !important;
}

.tags.mm-ace-tags input[type=text],
.tags.mm-ace-tags input[type=text]:focus {
    width: 6em !important;
    line-height: 30px !important;
}

.mm-ace-table .fixed-table-container tbody tr:hover td {
    background-color: #f1f1f1;
}

.mm-ace-table tbody tr td {
    background-color: #fff;
}

.mm-ace-table tbody tr td .oh {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
    text-align: left;
}

.mm-ace-table {
}

.mm-ace-table .no-records-found td {
    line-height: 2.5em;
}

.mm-ace-table > tbody > tr > td,
.mm-ace-table > tbody > tr > th,
.mm-ace-table > tfoot > tr > td,
.mm-ace-table > tfoot > tr > th,
.mm-ace-table > thead > tr > td,
.mm-ace-table > thead > tr > th {
    padding: 0.2em 0.4em;
}

.mm-ace-table tbody tr:hover td {
    background-color: #f1f1f1;
}

.vt-table {
    width: 100%;


}

.vt-table tr th,
.vt-table tr td {
    border: 1px solid #ddd;
    padding: 0.3em;
}

.vt-table tr th {
    min-width: 7em;
    width: 7em;
    text-align: center;
    background-color: #f5f5f5;
}

.vt-table tr th i {
    color: red;
    margin-right: 0.2em;
    vertical-align: middle;
}

input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
textarea {
    width: 100%;
    color: #333;
}

.bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .loading-text {
    font-size: 1em;
    margin-right: 0px;
}

.mm-ace-table tr td {
    height: 2.5em;
}

#sidebar-shortcuts-large button.btn i {
    margin-right: 0px !important;
}

.mm-window-title .jconfirm-icon-c {
    margin-right: 4px !important;
}

.mm-window-title .jconfirm-icon-c i {
    font-size: 16px;
    vertical-align: bottom !important;
}

#home-nav > li > a > .menu-icon {
    vertical-align: text-top;
}

#sidebar.menu-min .menu-icon {
    vertical-align: unset;
}

.fixed-table-pagination {
    margin-top: 1px;
    border: 1px solid #ddd;
    border-bottom: 0px;
    background-color: #f1f1f1;
    padding: 3px 5px;
}

.fixed-table-pagination .pagination {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: 35px !important;
}

.fixed-table-pagination .btn-group > .btn > .caret {
    margin-top: 0px;
}

.bootstrap-table .fixed-table-pagination > .pagination-detail, .bootstrap-table .fixed-table-pagination > .pagination {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.bootstrap-table .fixed-table-pagination > .pagination ul.pagination {
    margin-top: 8px;
    margin-left: 1em;
}

.ace-mine-upload {
    min-height: 2.5em;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.ace-mine-upload-shade {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #555555;
    opacity: 0.2;
    display: none;
}

.ace-mine-upload-progress {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: #87b87f;
    display: none;
}

.ace-mine-upload-percent {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    display: none;
    line-height: 2.5em;
    color: #fff;
    padding-left: 0.5em;
}


.ace-mine-upload-btn {
    flex-grow: 0;
    position: relative;
    cursor: pointer;
    width: 6em;
    min-width: 6em;
    border: 1px solid #ddd;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


.ace-mine-upload-btn span {
    color: #fff;
    display: inline-block;
    font-size: 0.9em;
    background: #428BCA;
    padding: 0.4em;
    margin-top: 0.1em;
}

.ace-mine-upload-btn span i {
    margin-right: 0.3em;
}

.ace-mine-upload-btn input[type='file'] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.ace-mine-upload-files {
    flex-grow: 1;
    padding-left: 0.1em;
    padding-bottom: 0.1em;
    border: 1px solid #ddd;
    border-right: 0px;
    position: relative;
    max-height: 10em;
    overflow-y: auto;
}

.ace-mine-upload-files-item {
    float: left;
    min-height: 2.2em;
    margin-top: 0.1em;
    margin-right: 0.3em;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #ddd;
    cursor: pointer;
}

.ace-mine-upload-files-item-name {

}

.ace-mine-upload-files-item-name span {
    vertical-align: middle;
    padding-right: 0.5em;
}

.ace-mine-upload-files-item-img {
    height: 100% !important;
    width: 2.2em;
    cursor: pointer;
}

.ace-mine-upload-files-item-img.file {
    width: 16px !important;
    height: 16px !important;
    margin: 0.4em;
}

.ace-mine-upload-files-item-del {
    padding-left: 0.1em;
    padding-right: 0.1em;
    background-color: #f1f1f1;
}

.ace-mine-upload-files-item-del i {
    vertical-align: bottom;
    color: #bcbcbc;
    font-weight: normal;
}

.ace-mine-upload-files-item-del:hover i {
    color: red;
}

textarea.form-control {
    padding: 5px 4px 6px;
}

.dropdown-menu .dropdown-item {
    background-color: #8b9aa3;
    color: #fff;
    margin: 4px;
    border-radius: 3px;
    padding: 3px 5px;
}

.dropdown-menu .dropdown-item.active {
    background-color: #f1a417;
    color: #fff;
}

.no-skin .nav-list > li > .submenu:before, .no-skin .nav-list > li > .submenu > li:before {
    margin-left: 1em;
}

.nav-list > li .submenu > li a > .menu-icon {
    left: 23px !important;
}

.menu-min .nav-list > li .submenu > li a > .menu-icon {
    left: 9px !important;
    top: 12px;
}


.nav-list > li .submenu > li a > .menu-text {
    margin-left: 12px;
    font-weight: bold;
}

.wysiwyg-editor {
    overflow-y: auto;
}

.select.form-control {
    padding: 4px 0px;
}


.sidebar .sidebar-shortcuts-large {
    line-height: 30px;
}

.sidebar .sidebar-shortcuts-large > .btn {
    line-height: 20px;
}

.sidebar.menu-min .sidebar-shortcuts {
    z-index: 10;
}

.pull-right {
    margin-right: -10px;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: 0.55rem;
}

.nav-list > li .submenu > li a > .menu-icon {
    display: inline-block;
}

.bootstrap-table .fixed-table-toolbar .bs-bars, .bootstrap-table .fixed-table-toolbar .search, .bootstrap-table .fixed-table-toolbar .columns {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bootstrap-table .fixed-table-toolbar {
    display: grid;
}

.colorpicker {
    z-index: 999999990;
}

#breadcrumbs .own-tabs-item-close, #breadcrumbs .own-tabs-item-icon {
    font-size: 17px;
}

input[type=checkbox].ace.ace-switch.ace-switch-4 + .lbl::before,
input[type=checkbox].ace.ace-switch.ace-switch-5 + .lbl::before {
    content: "\a0是\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0否" !important
}


.own-ace-table .btn {
    border-width: 2px !important;
}

textarea.form-control {
    padding: 5px 2px !important;
}

.twitter-typeahead {
    flex-grow: 1;
}

.twitter-typeahead .tt-menu {
    margin-top: 1px;
    padding: 0px 0;
}

.twitter-typeahead .tt-menu .tt-suggestion, .twitter-typeahead input.tt-hint, input.tt-query, input.typeahead {
    font-size: 14px;
    word-wrap: break-word;
    word-break: normal;
}

.twitter-typeahead .tt-menu .tt-suggestion .tt-highlight {
    color: #E59729;
}

.twitter-typeahead .tt-menu .tt-suggestion {
    border-bottom: 1px solid #ddd;
    padding: 3px 4px 4px;
}

.twitter-typeahead .tt-menu .tt-suggestion:last-child {
    border-bottom: unset;
}

.twitter-typeahead .tt-menu .tt-suggestion.tt-cursor .tt-highlight {
    color: #fff;
}

.own-page-index .fixed-table-body {

}

.sidebar .sidebar-toggle {
    height: 42px;
    padding: 0px 0px;
}

.sidebar .sidebar-toggle #sidebar-toggle-icon {
    margin-top: 10px;
}

.sidebar .sidebar-toggle:before {
    top: 20px;
}

.own-image-upload,
.own-image-upload * {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.own-image-upload {
    display: inline-block;
}

.own-image-upload .ofu-item {
    float: left;
    height: 80px;
    width: 80px;
    border: 4px solid #ddd;
    margin-right: 4px;
}

.own-image-upload .ofu-item.image {
    position: relative;
}

.own-image-upload .ofu-item.image .del-b {
    top: 0px;
    right: 0px;
    position: absolute;
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 30px solid red;
    border-left: 30px solid transparent;
    display: none;
}

.own-image-upload .ofu-item.image .del {
    background-image: url("image/del.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px;
    top: -1px;
    right: -1px;
    width: 20px;
    height: 20px;
    z-index: 101;
    position: absolute;
    cursor: pointer;
    display: none;
}

.own-image-upload .ofu-item.image:hover .del-b,
.own-image-upload .ofu-item.image:hover .del {
    display: inline-block;
}

.own-image-upload .ofu-item.image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    bottom: -50%;
    left: -50%;
    right: -50%;
    top: -50%;
    cursor: pointer;
}

.own-image-upload .ofu-item.ofu-upload {
    background-image: url("image/upload.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    overflow: hidden;
    cursor: pointer;
    border-color: #ddd;
    background-color: #ddd;
    margin-right: 0px;
}

.own-image-upload .ofu-item.ofu-upload:hover {
    background-color: #ddd;
}

.own-image-upload input[type='file'] {
    opacity: 0;
    font-size: 100px;
    cursor: pointer;
}

#pbImage {
    border-radius: 2px;
}

.select-mania-small .select-mania-values {
    width: calc(100% - 27px);
}
.select-mania-small .select-mania-placeholder{
    margin-top: -3px;
}
.select-mania-small .select-mania-search-input,
.select-mania-small .select-mania-group-text,
.select-mania-small .select-mania-item-text,
.select-mania-small .select-mania-value-text,
.select-mania-small .select-mania-placeholder{
    font-size: 14px;
}
.select-mania-inner{
    -moz-border-radius:0px;
    border-radius:0px;
}
.select-mania-value{
    margin-top: -1px;
}
.select-mania-small .select-mania-arrow, .select-mania-small .select-mania-clear {
    width: 13px;
}
.chosen-container-single .chosen-single div b{
    text-align: center;
}