<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    .c20210723233630 {
    }
</style>
<script type="text/javascript">
    /**
     * 当前页面操作对象
     */
    var h20210723233630 = {
        defType:"[[${defType}]]",
        /**
         * 在当前页面搜索
         */
        query: function (selector) {
            return $("#m20210723233630 " + selector);
        },
        /**
         * 保存数据
         */
        save: function () {
            var data = h20210723233630.query(".own-form-content").own_ace_form_data();
            $.own_confirm("确定保存?", function () {
                $.own_loading();
                $.own_post({
                    url: "/pf/PlatformCode/saveCode",
                    data: data,
                    call: function (res) {
                        $.own_loading_close();
                        if (res.code == "1") {
                            $.own_window_close_last(true);
                        } else {
                            $.own_error(res.msg);
                        }
                    }
                });
            });
        },
        /**
         * 初始化当前页面
         */
        init: function () {
            h20210723233630.query("#btnClose").click(function () {
                $.own_window_close_last();
            });
            h20210723233630.query("#btnConfirm").click(function () {
                h20210723233630.save();
            });
            h20210723233630.query("select[pn='type']").selectMania({
                size: 'small',
                placeholder: '请选择',
                removable: true,
                search: true
            });
        }
    };
    /**
     * 初始化页面入口
     */
    $(function () {
        h20210723233630.init();//初始化当前页面
    });
</script>
<div id="m20210723233630" class="c20210723233630 own-page-edit">
    <div class="mm-form">
        <div class="own-form-content" style="height:26em;">
            <input pn="id" type="hidden" th:value="${orm.id}"/>
            <table class="vt-table">
                <tr>
                    <th><i>*</i>字典类别：</th>
                    <td>
                        <select pn="type">
                            <option th:each="item:${type}" th:selected="${item.code==defType}" th:value="${item.code}" th:text="${item.name}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><i>*</i>字典编码：</th>
                    <td>
                        <input pn="code" th:value="${orm.code}" placeholder="请输入字典编码" class="input-sm" type="text"/>
                    </td>
                </tr>
                <tr>
                    <th><i>*</i>字典名称：</th>
                    <td>
                        <input pn="name" th:value="${orm.name}" placeholder="请输入字典名称" class="input-sm" type="text"/>
                    </td>
                </tr>
                <tr>
                    <th>附加属性：</th>
                    <td>
                        <input pn="attach" th:value="${orm.attach}" class="input-sm" type="text"/>
                    </td>
                </tr>
                <tr>
                    <th><i>*</i>字典排序：</th>
                    <td>
                        <input th:value="${orm.ord}" pn="ord"   placeholder="请输入字典排序" class="input-sm" type="text"/>
                    </td>
                </tr>
                <tr>
                    <th>备注：</th>
                    <td>
                        <textarea style="height: 8em;" pn="remark" class="form-control" th:text="${orm.remark}"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mm-form-handle">
            <button id="btnClose" class="btn btn-xs"><i class="ace-icon glyphicon glyphicon-remove"></i>关闭窗口</button>
            <button id="btnConfirm" class="btn btn-xs btn-primary"><i class="ace-icon glyphicon glyphicon-ok"></i>确定保存</button>
        </div>
    </div>
</div>
</html>