<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title th:text="${ce.platformName}"></title>
    <script type="text/javascript">
        var baseconfig = {
            minioFileHost:"[[${minioFileHost}]]",
            webLevel: "[[${webLevel}]]"
        };
    </script>
    <!--结构引入(start)-->
    <script type="text/javascript" th:src='${webLevel+"/js/jquery-2.1.4.min.js"}'></script>
    <script type="text/javascript" th:src='${webLevel+"/js/own/own.js"}'></script>
    <!--结构引入(end)-->
    <script type="text/javascript"> own.init({ownRes: "[[${webLevel}]]/js/own"});</script>
    <link rel="stylesheet" th:href='${webLevel+"/css/page/index.css"}'/>
    <script type="text/javascript" th:src='${webLevel+"/js/page/index.js"}'></script>
    <script type="text/javascript">
        var $unitCheckNumber = null;
        var unitId= "[[${unitId}]]";
        /**
         * 获取影像调阅授权待审批申请数量
         */
        var waitCheckCount = function () {

            $.own_post({
                url: "/pf/BusLicensingApply/getApprovalNumber",
                data: {
                    approvalUnit :unitId,
                },
                postType: "2",
                call: function (res) {
                    if (res.code == "1") {
                        var result = res.result;
                        var unitCheckNumber = result.number;
                        $("#unitCheckNumber").html(unitCheckNumber)
                    } else {
                        console.log(res.msg);
                     }
                }
            });
        }
        $(function () {
            var tokenName = "[[${tokenName}]]";
            var token = $.own_cookie_get(tokenName);
            $.own_execute_win_code("token", {tokenName: tokenName, token: token});
            waitCheckCount();
            setInterval(function () {
                waitCheckCount();
            }, 1000 * 60 * 30);
        });
    </script>
</head>
<body class="no-skin own-index">
<input id="coerceUpdatePassword" th:value="${coerceUpdatePassword}" type="hidden"/>
<div id="navbar" class="navbar navbar-default ace-save-state own-index-top">
    <div class="navbar-container ace-save-state" id="navbar-container">

        <div class="navbar-header pull-left">
            <a href="javascript:void(0);" class="navbar-brand">
                <small>
                    <div class="logo-img">
                        <img th:src="@{/image/tubiao111.ico}"/>
                    </div>
                    <span th:text="${ce.platformName}"></span>
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li style="display: none;" class="grey dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-tasks"></i>
                        <span class="badge badge-grey">4</span>
                    </a>
                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-check"></i>
                            4 Tasks to complete
                        </li>
                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar">
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Software Update</span>
                                            <span class="pull-right">65%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:65%" class="progress-bar"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Hardware Upgrade</span>
                                            <span class="pull-right">35%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Unit Testing</span>
                                            <span class="pull-right">15%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Bug Fixes</span>
                                            <span class="pull-right">90%</span>
                                        </div>

                                        <div class="progress progress-mini progress-striped active">
                                            <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">
                                See tasks with details
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="green dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        授权待审批数:
                        <span class="badge badge-important" id="unitCheckNumber"></span>
                    </a>
                </li>
                <li style="display: none;" class="purple dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        <span class="badge badge-important">8</span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                            8 Notifications
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
														New Comments
													</span>
                                            <span class="pull-right badge badge-info">+12</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="btn btn-xs btn-primary fa fa-user"></i>
                                        Bob just signed up as an editor ...
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
														New Orders
													</span>
                                            <span class="pull-right badge badge-success">+8</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
														Followers
													</span>
                                            <span class="pull-right badge badge-info">+11</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">
                                See all notifications
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li style="display: none;" class="green dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                        <span class="badge badge-success">5</span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-envelope-o"></i>
                            5 Messages
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar">
                                <li>
                                    <a href="#" class="clearfix">
                                        <img th:src='${webLevel+"/js/own/js/assets/images/avatars/avatar.png"}' class="msg-photo" alt="Alex's Avatar"/>
                                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Alex:</span>
														Ciao sociis natoque penatibus et auctor ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>a moment ago</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img th:src='${webLevel+"/js/own/js/assets/images/avatars/avatar3.png"}' class="msg-photo" alt="Susan's Avatar"/>
                                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Susan:</span>
														Vestibulum id ligula porta felis euismod ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>20 minutes ago</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img  th:src='${webLevel+"/js/own/js/assets/images/avatars/avatar4.png"}' class="msg-photo" alt="Bob's Avatar"/>
                                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Bob:</span>
														Nullam quis risus eget urna mollis ornare ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>3:15 pm</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img  th:src='${webLevel+"/js/own/js/assets/images/avatars/avatar2.png"}' class="msg-photo" alt="Kate's Avatar"/>
                                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Kate:</span>
														Ciao sociis natoque eget urna mollis ornare ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>1:33 pm</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img  th:src='${webLevel+"/js/own/js/assets/images/avatars/avatar5.png"}' class="msg-photo" alt="Fred's Avatar"/>
                                        <span class="msg-body">
													<span class="msg-title">
														<span class="blue">Fred:</span>
														Vestibulum id penatibus et auctor  ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>10:09 am</span>
													</span>
												</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-footer">
                            <a href="inbox.html">
                                See all messages
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="light-blue dropdown-modal" style="background-color: #62A8D1;">
                    <img id="nav-user-photo" class="nav-user-photo" th:src="${user.pic}" style="margin:-3px 4px 0px 4px;cursor: pointer;"/>
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle" style="display: inline-block">
                        <p class="user-info"><small>欢迎,</small><span id="index-user-name" th:text="${user.name}"></span></p>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a id="index-up-password" href="javascript:void(0)">
                                <i class="ace-icon fa fa-lock"></i>
                                修改密码
                            </a>
                        </li>
                        <li>
                            <a id="edit-user-info" href="javascript:void(0)">
                                <i class="ace-icon fa fa-user"></i>
                                我的信息
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a id="index-loginout" href="javascript:void(0)">
                                <i class="ace-icon fa fa-power-off"></i>退出系统
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container ace-save-state own-index-container" id="main-container">
    <div id="sidebar" class="sidebar responsive ace-save-state own-index-nav">
        <div class="sidebar-shortcuts own-index-nav-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success"><i class="ace-icon fa fa-signal"></i></button>
                <button class="btn btn-info"><i class="ace-icon fa fa-pencil"></i></button>
                <button class="btn btn-warning"><i class="ace-icon fa fa-users"></i></button>
                <button class="btn btn-danger"><i class="ace-icon fa fa-cogs"></i></button>
            </div>
            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>
                <span class="btn btn-info"></span>
                <span class="btn btn-warning"></span>
                <span class="btn btn-danger"></span>
            </div>
        </div>
        <ul id="index-nav" class="nav nav-list own-index-nav-list">

        </ul>
        <div class="sidebar-toggle sidebar-collapse own-index-nav-sidebar-toggle" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>
    <div class="main-content own-index-main-content" id="own-index-main-content">
        <div class="main-content-inner own-index-main-content-inner">
            <div class="page-content own-index-page-content">
                <div class="own-index-page-tab" id="own-index-page-tab"></div>
                <div class="own-index-page-tab-content" id="own-index-page-tab-content"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
